<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style type="text/css">
      h1, h6 {
        text-align: center;
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1><%= title %></h1>
      <h6><%= username %></h3>
      <hr class="m-y-2">
      <div class = "video" class = "col-md-4 col-md-offset-4"></div>
    </div>
    <div class="log" align="center"></div>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
    <script>
      var client = new WebTorrent()

      client.on('error', function (err) {
        console.error('ERROR: ' + err.message)
      })

      function get() {
        var torrentId = '<%= magnet %>'
        client.add(torrentId, onTorrent)
        console.log("hola!: " + torrentId);
      }

      function onTorrent (torrent) { 

        // Print out progress every 5 seconds
        // Render all files into to the page
        torrent.files.forEach(function (file) {
          file.appendTo('.log')
          file.getBlobURL(function (err, url) {
            if (err) return log(err.message)
            log('File done.')
            log('<a href="' + url + '">Download full file: ' + file.name + '</a>')
          })
        })
      }

      function log (str) {
        var p = document.createElement('p')
        p.innerHTML = str
        document.querySelector('.log').appendChild(p)
      }
      
      document.onload(get());
    </script>
  </body>
</html>