<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style type="text/css">
      h1, h6 {
        text-align: center;
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1><%= title %></h1>
      <h6><%= username %></h3>
      <hr class="m-y-2">
      <div class = "video" class = "col-md-4 col-md-offset-4">fzksdjfb</div>
    </div>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>

    <script>
      var client = new WebTorrent()
      var torrentId = 'magnet:?xt=urn:btih:1a19f63ee27cc71ef746dda5a46fea7a82af0f0f&dn=Screenshot+from+2016-05-17+05-57-44.png&tr=udp%3A%2F%2Fexodus.desync.com%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com'

      client.on('error', function (err) {
        console.error('ERROR: ' + err.message)
      })

      client.add(torrentId, function (torrent) {
        var file = torrent.files[0];
        file.appendTo('video');
      })
    </script>
  </body>
</html>