.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #FFFFFF;
}

h1, h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.jumbotron img {
  display: block;
  margin: 0 auto;
}

.jumbotron cite {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 150%;
  display: block;
}

.title-padding {
  padding-top: 20%;
}

#footer {
  margin-top: 10px;
  text-align: center;
  color: #888888;
}

#authenticate-link {
  display: block;
  text-align: center;
}

#screen-main {
}

#screen-login, #screen-description {
  padding-top: 40%;
}

.screen {
  display: none;
}

#dragndrop {
  height: 90vh;
  width: 90vw;
  border: 5px dashed #777777;
}
